<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Road3ripping</title>
  <link rel="stylesheet" href="/css/edit.css">
  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.0.0-rc.3/dist/leaflet.css" />
  <link href="https://fonts.googleapis.com/css?family=Rock+Salt" rel="stylesheet">
  <script src="https://code.jquery.com/jquery-3.1.0.min.js" integrity="sha256-cCueBR6CsyA4/9szpPfrX3s49M9vUU5BgtiJj06wt/s="   crossorigin="anonymous"></script>
  <!-- need user.js file to run script -->
  <script type="text/javascript" src="/js/user.js"></script>
  <script src="https://unpkg.com/leaflet@1.0.0-rc.3/dist/leaflet.js"></script>

</head>
  <body>
    <div id="map"></div>

    <div id="rightContainer">
      <div id="logo">ROAD<br>3PPING</div>
      <div id="greeting"><strong>Hello</strong> <%- currentUser.firstName %>!</div>
      <form action="/user" METHOD="GET">
        <button id="homeButton">Home</button>
      </form>
      <form action="/auth/logout" METHOD="GET">
        <button id="logoutButton">Log out!</button>
      </form>

      <!-- this alert will show when user has either logged in or signed up successfully -->
      <% include ./partials/alerts %>

      <p>after clicking edit, client can edit/delete and make changes to his/her post here</p>


      <h1>post details</h1>
      <div>
        <% var title = data.dataValues.title %>
        <% var category = data.dataValues.category %>
        <% var address = data.dataValues.address %>
        <% var imageURL = data.dataValues.imageURL %>
        <% var description = data.dataValues.description %>
        <% var id = data.dataValues.id %>

        <form action="/posting/posts/<%= id %>?_method=PUT" method="POST">

          <div>
            title: <input type="text" name="title" value="<%= title %>"></input>
          </div>

          <!-- <div>
            category: <input type="text" name="category" value="<%= category %>"></input>
          </div> -->
          <div>
            Category:
            <select id="category" name="category" value="<%= category %>">
              <option value="Cafes">Cafes</option>
              <option value="Gym">Gym</option>
              <option value="Scenic Overlook">Scenic Overlook</option>
              <option value="Pharmacy">Pharmacy</option>
              <option value="Laundry">Landry</option>
              <option value="Supermarkets">Supermarkets</option>
              <option value="Trails">Trails</option>
            </select>
          </div>

          <div>
            address: <input type="text" name="address" value="<%= address %>"></input>
          </div>

          <div>
            imageURL: <input type="text" name="imageURL" value="<%= imageURL %>"></input>
          </div>

          <div>
            description: <textarea type="text" name="description" rows="10" cols="40"><%= description %></textarea>
          </div>

          <button value="<%= id %>">UPDATE</button>

        </form>

        <form action="/posting/posts/<%= id %>?_method=DELETE" method="POST">
          <button value="<%= id %>">DELETE</button>
        </form>

      </div>

    </div>


  </body>
</html>
