<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Road3ripping</title>
  <script src="https://code.jquery.com/jquery-3.1.0.min.js" integrity="sha256-cCueBR6CsyA4/9szpPfrX3s49M9vUU5BgtiJj06wt/s="   crossorigin="anonymous"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous"/>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.0.0-rc.3/dist/leaflet.css" />
  <script src="https://unpkg.com/leaflet@1.0.0-rc.3/dist/leaflet.js"></script>
  <link href="https://fonts.googleapis.com/css?family=Rock+Salt" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Permanent+Marker" rel="stylesheet">
  <script type="text/javascript" src="/js/user.js"></script>
  <link rel="stylesheet" href="/css/posts.css">

</head>
  <body>
    <div id="map"></div>

    <div id="rightContainer">

      <ul class="nav nav-tabs">
        <li role="presentation" class="active"><a href="http://localhost:3000/"><div id="logo">ROAD3PPING</div></a></li>
        <li role="presentation">
          <a href="/user">Profile</a>
        </li>
        <li role="presentation">
          <a href="/auth/logout">Log Out!</a>
        </li>

      </ul>

      <!-- this alert will show when user has either logged in or signed up successfully -->
      <% include ./partials/alerts %>


      <div id="header">All Posts</div>

      <div>

        <div id="postContainer">
          <% for(var i = 0; i < data.length; i++) { %>
            <% var title = data[i].dataValues.title %>
            <% var category = data[i].dataValues.category %>
            <% var address = data[i].dataValues.address %>
            <% var imageURL = data[i].dataValues.imageURL %>
            <% var description = data[i].dataValues.description %>
            <% var category = data[i].dataValues.category %>
            <% var id = data[i].dataValues.id %>

          <div id="grid" class="col-md-4">
            <div id="title"><strong><%= title %></strong></div>
            <div><%= category %></div>
            <div><%= address %></div>
            <div class="imgContainer">
              <img class="image" src="<%= imageURL %>"</img>
            </div>
            <div><%= description %></div>
            <a href="/posting/posts/<%= id %>/edit">
              EDIT
            </a>
          </div>

          <% } %>

        </div>

      </div>


      <!-- need method override for edit
      or do the index.html way? out edit button
      inside VIEW YOUR POSTS? and delete button too?-->
      <!-- use bootstrap pop up for edit? -->
      <!-- <p>edit and delete button for each post</p>
      <form action="/posting/:id?_method=PUT" METHOD="POST">
        <button id="edit">EDIT</button>
      </form>
      <form action="/posting/id?_method=DELETE" METHOD="POST">
        <button id="edit">DELETE</button>
      </form> -->

    </div>


  </body>
</html>
